
body {
  background-color: #121212;
  color: #fff;
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0 20px;
}
h1 {
  color: #5FE97D;
}
h2 {
  color: #71C7EC;
}
.lang-en { display: none; }
section { margin-bottom: 2rem; padding: 1rem; border: 1px solid #333; }
